/TP-2-Programacion-estructurada/verificadorbisiesto/nbproject/private/
/TP-2-Programacion-estructurada/verificadorbisiesto/build/
/TP-2-Programacion-estructurada/elmayordetresnumeros/nbproject/private/
/TP-2-Programacion-estructurada/elmayordetresnumeros/build/
/TP-2-Programacion-estructurada/clasificadoredad/nbproject/private/
/TP-2-Programacion-estructurada/clasificadoredad/build/
/TP-2-Programacion-estructurada/CalculadoraDescuento/nbproject/private/
/TP-2-Programacion-estructurada/CalculadoraDescuento/build/
/TP-2-Programacion-estructurada/sumanumpares/nbproject/private/
/TP-2-Programacion-estructurada/sumanumpares/build/
/TP-2-Programacion-estructurada/contadornumpnyc/nbproject/private/
/TP-2-Programacion-estructurada/contadornumpnyc/build/
/TP-2-Programacion-estructurada/validadordeNota/nbproject/private/
/TP-2-Programacion-estructurada/validadordeNota/build/
/TP-2-Programacion-estructurada/calculadorPrecioFinal/nbproject/private/
/TP-2-Programacion-estructurada/calculadorPrecioFinal/build/
/TP-2-Programacion-estructurada/calculadorEnvio/nbproject/private/
/TP-2-Programacion-estructurada/calculadorEnvio/build/
/TP-2-Programacion-estructurada/actualizadorDeStock/nbproject/private/
/TP-2-Programacion-estructurada/actualizadorDeStock/build/
/TP-2-Programacion-estructurada/calculadorDescuentoEspecial/nbproject/private/
/TP-2-Programacion-estructurada/calculadorDescuentoEspecial/build/
/TP-2-Programacion-estructurada/modificadorDeArray/nbproject/private/
/TP-2-Programacion-estructurada/modificadorDeArray/build/
/TP-2-Programacion-estructurada/impresorRecursivo/nbproject/private/
/TP-2-Programacion-estructurada/impresorRecursivo/build/
/TP-3-Introduccion-a-POO/registroDeEstudiantes/nbproject/private/
/TP-3-Introduccion-a-POO/registroDeEstudiantes/build/
/TP-3-Introduccion-a-POO/registroDeMascotas/nbproject/private/
/TP-3-Introduccion-a-POO/registroDeMascotas/build/
/TP-3-Introduccion-a-POO/EncapsulamientoLibro/nbproject/private/
/TP-3-Introduccion-a-POO/EncapsulamientoLibro/build/
/TP-3-Introduccion-a-POO/gestorGallinasGranja/nbproject/private/
/TP-3-Introduccion-a-POO/gestorGallinasGranja/build/
/TP-3-Introduccion-a-POO/simuladorNaveEspacial/nbproject/private/
/TP-3-Introduccion-a-POO/simuladorNaveEspacial/build/
/TP-4-POO/ClaseEmpleado/nbproject/private/
/TP-4-POO/ClaseEmpleado/build/
/New Folder/PasaporteFotoTitular/nbproject/private/
/New Folder/PasaporteFotoTitular/build/
/New Folder/PasaporteFotoTitular/dist/
/TP-5-UML/CelularBareria/nbproject/private/
/TP-5-UML/CelularBareria/build/
/TP-5-UML/LibroAutorEditorial/nbproject/private/
/TP-5-UML/LibroAutorEditorial/build/
/TP-5-UML/TarjetaClienteBanco/nbproject/private/
/TP-5-UML/TarjetaClienteBanco/build/
/TP-5-UML/ComputadoraPropietario/nbproject/private/
/TP-5-UML/ComputadoraPropietario/build/
/TP-5-UML/ReservaMesa/nbproject/private/
/TP-5-UML/ReservaMesa/build/
/TP-5-UML/VehiculoMotor/nbproject/private/
/TP-5-UML/VehiculoMotor/build/
/TP-5-UML/DocumentoUsuario/nbproject/private/
/TP-5-UML/DocumentoUsuario/build/
/TP-5-UML/CitaMedicaPaciente/nbproject/private/
/TP-5-UML/CitaMedicaPaciente/build/
/TP-5-UML/CuentaBancariaTitular/nbproject/private/
/TP-5-UML/CuentaBancariaTitular/build/
/TP-5-UML/ReproductorCancionArtista/nbproject/private/
/TP-5-UML/ReproductorCancionArtista/build/
/TP-5-UML/ImpuestoContribuyente/nbproject/private/
/TP-5-UML/ImpuestoContribuyente/build/
/TP-5-UML/GeneradorQRUsuario/nbproject/private/
/TP-5-UML/GeneradorQRUsuario/build/
/TP-5-UML/EditorVideoProyecto/nbproject/private/
/TP-5-UML/EditorVideoProyecto/build/
